@font-face {
  font-family: 'Aileron Black';
  font-style: normal;
  font-weight: bold;
  src: local('Aileron-Black'), url('../fonts/Aileron-Black.otf') format('opentype');
}

@font-face {
  font-family: 'Aileron Heavy';
  font-style: normal;
  font-weight: bold;
  src: local('Aileron-Heavy'), url('../fonts/Aileron-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Aileron Light';
  font-style: normal;
  font-weight: lighter;
  src: local('Aileron-Light'), url('../fonts/Aileron-Light.otf') format('opentype');
}